body {
    background: #FFFFFF;
}

#custom-customizer-form > div[id*="row"] {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
}

#custom-customizer-form > div[id*="row"]:nth-child(even) {
    background: #f1faf2;
}

#custom-customizer-form > div[id*="row"]:hover {
    box-shadow: inset 1px 1px 5px #8080808a;
    transition: all 0.3s;
}

#custom-customizer-form span[id*="delete"] {
    background: #ff4b4b;
    color: white;
    font-weight: 700;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    margin-right: 10px;
    cursor: pointer;
}

#custom-customizer-form code {
    order: 4;
    margin-left: 15px;
}